yfinance
pandas
numpy
matplotlib
quantstats
mplfinance
backtesting
gymnasium
gym-anytrading
scikit-learn
plotly
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-daq
dash-cytoscape
dash-canvas